server:
  context-path: /GameTest
  port: 80
  
spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
 
  datasource:
    username: stat_user
    password: stateoqkr!@
    url: jdbc:mysql://13.124.121.91:3306/db_stock      
#      
# Mybatis Configuration
# http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/
# https://github.com/mybatis/spring-boot-starter/blob/master/mybatis-spring-boot-samples/mybatis-spring-boot-sample-xml/src/main/resources/application.properties
# 

mybatis:
  config-location: classpath:mybatis-config.xml

  