@CHARSET "UTF-8";
/* The side navigation menu */
.nomargin
{
    margin-bottom: 0;
    border-radius: 0px;
}
.main_image
{
	background-image: url("../../img/main_image.png");
    background-size: cover;
    background-position: bottom;
}
